{% extends 'pages/base.html' %}

{% block header %}Book List{% endblock %}

{% block content %}
<ul>
    {% for book in books%}
        <li>
            <strong>
                <!-- refer to 'book' object in 'book_detail' view-->
                <a href="{% url 'book_detail' book.id %}">
                    {{ book.title }}
                </a>
            </strong> 
            by {{ book.author }} 
            (Published: {{ book.published_date }})
        </li>
    {% empty %}
        <p>No Books Available</p>
    {% endfor %}
</ul>
{% endblock %}